html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

.loyout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    box-sizing: border-box;
}

.main-content {
    flex: 1;

    padding: 25px 0;
}


.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: rgb(17, 2, 61);
    color: white;
}